.ResultItem {
	cursor: pointer;
	width: 100%;
}

.ResultItem-summary {
	align-items: center
}

.ResultItem-summary:hover {
	background-color: burlywood;
}

.ResultItem-panel {
	flex-direction: column
}